/* Navbar */

.navbar {
    background-color: white;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
    padding: 7px 25px;
}

.nav-left {
    display: flex;
    font-size: 15px;
    text-transform: uppercase;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.nav-left>* {
    padding-right: 25px;
}

.nav-center {
    display: grid;
}

.img-logo {
    width: 50%;
    height: auto;
    justify-self: center;
    align-self: center;
}

.nav-link {
    margin-bottom: 0;
}

.a-link {
    text-decoration: none;
    color: black;
}

.a-link:hover {
    text-decoration: underline;
}

.nav-btn {
    background-color: #567b95;
    border: 1px solid black;
    border-radius: 2px;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    padding: 11px 8px 6px 8px;

}

/* Main Content*/
main {
    padding-top: 45px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 14%;
    padding-top: 110px;
}

/*.header-h1 {
  margin-top: 70px;
  margin-left: 170px;
  margin-right: 250px;
  margin-bottom: 25px;
  height: 100px;
}*/
.header h1 {
    font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
    font-size: 33px;
    font-style: italic;
    font-weight: 600;
    line-height: 3rem;
    padding: 0 300px;
}

.header img {
    width: 100%;
    height: auto;
}

.header p {
    margin-top: 7px;
    font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
    font-size: 14.5px;
    color: #66667a;
    line-height: 1.4em;
}

.span-text1 {
    color: #8897ba;
}

.img-subtle {
    margin-right: 350px;
}

/* Content-1 */
.content-1 {
    margin-top: 15px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    display: grid;
    grid-template-columns: 31% 1fr 31%;
}

.content-author1 {
    font-weight: 700;
    font-size: 14px;
    color: #333333;
}

.content-date1 {
    display: flex;
    justify-content: space-between;
    margin-bottom:30px;
}

.date1{
    font-size:13.5px;
}

#circle{
    background-color: #eee;
    padding: 7px;
    border-radius: 50%;
    
}

#icons2{
    font-size: 25px;
}

.social-icons1 > i{
    margin-right: 10px;
}

.general-content{
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size:21px;
    /*font-weight: 200;*/
    line-height: 2rem;
    color:#333;
}

