/*  Navbar  */

.navbar {
  background-color: white;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
  padding: 7px 25px;
}

.nav-left {
  display: flex;
  font-size: 15px;
  text-transform: uppercase;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.nav-left > * {
  padding-right: 25px;
}

.nav-center a {
  display: grid;
}

.img-logo {
  width: 50%;
  height: auto;
  justify-self: center;
  align-self: center;
}

.nav-link {
  margin-bottom: 0;
}

.a-link {
  text-decoration: none;
  color: black;
}

.a-link:hover {
  text-decoration: underline;
}

.nav-btn {
  background-color: #567b95;
  border: 1px solid black;
  border-radius: 2px;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  padding: 11px 8px 6px 8px;
}

/*  Main Content */
main {
  padding-top: 45px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 14%;
  padding-top: 110px;
}

.header h1 {
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-size: 33px;
  font-style: italic;
  font-weight: 600;
  line-height: 3rem;
  padding: 0 300px;
}

.header img {
  width: 100%;
  height: auto;
}

.header p {
  margin-top: 7px;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-size: 14.5px;
  color: #66667a;
  line-height: 1.4em;
}

.img-subtle-2 p {
  margin-top: 7px;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-size: 14.5px;
  color: #66667a;
  line-height: 1.4em;
}

.span-text1 {
  color: #8897ba;
}

.img-subtle {
  margin-right: 350px;
}

/*  Content-1  */
.content-1,
.content-2 {
  margin-top: 15px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  display: grid;
  grid-template-columns: 31% 1fr 31%;
}

.content-author1 {
  font-weight: 700;
  font-size: 14px;
  color: #333;
}

.content-date1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.date1 {
  font-size: 13.5px;
}

.circle {
  background-color: #eee;
  padding: 7px;
  border-radius: 50%;
}

.icons2 {
  font-size: 25px;
}

.social-icons1 > i {
  margin-right: 10px;
}

.general-content1 {
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 21px;
  line-height: 2rem;
  color: #333;
}

.general-content1 a {
  color: #326891;
}

.text-ad {
  display: grid;
  justify-content: center;
  font-size: 13px;
  font-weight: 800;
  line-height: 1.5em;
}

.general-content1 hr {
  width: 75px;
}

/* Aside element */
.editor-picks {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 600;
  margin-left: 90px;
  align-self: center;
}

.editor-picks img {
  width: 100px;
  height: auto;
  padding: 10px;
}

.editor-picks a {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: black;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-picks a:hover {
  text-decoration: underline;
}

.editor1 {
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.editor2,
.editor3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.editor-picks h6 {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

/*  Content-2  */

.bold-title {
  font-weight: bold;
  font-size: 20px;
}

/*  Grid with images  */
.g-content {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 21.5%;
  grid-gap: 10px;
}

.g-header {
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
}

.g-header > * {
  margin-bottom: 5px;
}

.g-header h2 {
  font-size: 17px;
  font-weight: bold;
}

.g-header p {
  color: #666;
  font-size: 14.5px;
  line-height: 18px;
}

.g-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  grid-gap: 10px;
}

.g-element img {
  width: 225px;
  height: auto;
}

.g-element p {
  font-size: 13px;
  line-height: 20px;
}

.g-element p span {
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 11px;
}

.g-line {
  width: 60px;
}

.g-author {
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 13px;
}

/* Content-2 footer */
.nav-btn-mess {
  width: 300px;
}

.img-subtle-3 p {
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-size: 13px;
  color: #66667a;
  line-height: 1.5em;
}

/* Content-3 */

.content-3 {
  display: grid;
  grid-template-columns: 1fr 330px;
  grid-template-areas:
    "suggested popular"
    "more popular"
    "editor popular";
  margin: 40px 75px;
  grid-gap: 30px;
}

.content-3 > * {
  border-top: 1px solid black;
}

.c3-suggested-title {
  margin-top: 17px;
  grid-area: title;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.c3-suggested-title p {
  margin-bottom: 0;
}

.c3-suggested-title-left {
  font-size: 14px;
  font-weight: 600;
}

.content-3 .c3-suggested .c3-suggested-title-right .c3-suggested-title-right-a {
  text-decoration: none;
  color: #666;
  font-size: 13px;
}

.c3-suggested-title-right {
  justify-self: right;
}

.c3-suggested {
  grid-area: suggested;
  border-top: 1px solid black;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "title title title"
    "suggested popular more";
}

.c3-suggested .c3-element {
  display: grid;
  border: 1px solid #eee;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "image add-i"
    "subtitle subtitle"
    "title title"
    "text text"
    "link link";
  padding: 15px;
}

.c3-suggested .c3-element .add-i {
  grid-area: add-i;
  text-decoration: none;
  color: black;
  justify-self: right;
}

.c3-suggested .c3-element img {
  grid-area: image;
  margin-bottom: 15px;
}

.c3-suggested .c3-element .subtitle {
  grid-area: subtitle;
  font-size: 11px;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 5px;
}

.c3-suggested .c3-element .title {
  grid-area: title;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.c3-suggested .c3-element .text {
  grid-area: text;
  font-size: 15px;
  line-height: 19px;
  color: #444;
}

.c3-suggested .c3-element .link p {
  margin-bottom: 0;
}

.c3-suggested .c3-element .link {
  grid-area: link;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
  color: #326891;
  align-self: end;
}

.c3-suggested .c3-element .link:hover {
  text-decoration: underline;
}

.c3-popular {
  grid-area: popular;
}

.c3-popular > * {
  border-bottom: 1px solid #eee;
  margin-bottom: 17px;
}

.popular-title {
  margin-top: 17px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 15px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: #333;
}

.popular-element .popular-element-a {
  color: black;
  text-decoration: none;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 19px;
  line-height: 20px;
}

.popular-element a:hover {
  color: #666;
}

.c3-more {
  grid-area: more;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.c3-more,
.c3-editor-picks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.c3-more-title,
.c3-editor-title {
  grid-column: 1 / -1;
  margin-top: 17px;
  font-size: 14px;
  font-weight: 600;
}

.more-source,
.editor-element-source {
  text-transform: capitalize;
  font-size: 10.5px;
  color: #aaa;
  text-align: right;
  margin-top: 5px;
}

.more-element-title,
.editor-element-title {
  margin-top: 5px;
  font-size: 17px;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  line-height: 20px;
  text-transform: capitalize;
}

.more-element-date,
.editor-element-date {
  font-size: 11px;
  color: #aaa;
  margin-top: 10px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.c3-editor-picks {
  grid-area: editor;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

/*  footer section */
.footer-links {
  padding: 20px 30px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  white-space: nowrap;
  margin-bottom: 50px;
}

/* this is for the two borders in the up footer side  */
.Just-border {
  border-bottom: 2px solid #e2e2e2;
  margin: 2px;
}

/* this is a grid, need to finish the correct sizes  */
.links-div {
  border-top: 1px solid #e2e2e2;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
}

/*.links-div > a {
  text-decoration: none;
}*/

.links-div h5 {
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

.links-div h5,
.links-div a {
  margin: 5px;
  text-transform: capitalize;
}

/*  This is for the footer-head  */
.head-footer {
  grid-area: 1/1/span 1/ span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-footer .head-footer-img {
  width: 200px;
  height: auto;
}

.head-footer a {
  font-size: 12px;
  color: rgb(86, 123, 149);
}

/*  this is the main foot links */
.main-footer {
  grid-area: 2/1/span 1/span 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.links-grid-foot,
.side-up,
.side-down {
  display: flex;
  flex-direction: column;
}

.main-footer a {
  font-size: 14px;
}

.side-footer a,
.foot-fotter a {
  font-size: 12px;
}

.main-footer a,
.side-footer a {
  color: #000;
  font-weight: 500;
  line-height: 16px;
}

.main-footer a:hover,
.side-footer a:hover,
.foot-fotter a:hover {
  text-decoration: underline;
}

/* this is for the side links  */
.side-footer {
  display: grid;
  grid-template-rows: 1fr auto;
  border-left: 1px solid #e2e2e2;
  padding: 0 10px;
}

.side-up {
  border-bottom: 1px solid #e2e2e2;
}

.bolder .bolder-span {
  font-weight: 800;
  font-size: 17px;
  line-height: 15px;
}

.bolder {
  display: flex;
  align-items: center;
}

.small-div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

/*  this is for the footer of the footer :D */
.foot-fotter {
  border-top: 1px solid #e2e2e2;
  grid-area: 3/1/span 1/span 2;
  padding: 10px 50px;
}

.foot-fotter a {
  color: #666;
}

footer {
  position: fixed;
  width: 100%;
  border-top: 1px solid #919191;
  bottom: 0;
  background-color: white;
}

.foot-section {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  border-top: 1px solid #c7c7c7;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: end;
  padding: 15px 30px;
}

.foot-section h3 {
  font-size: 17px;
  margin: 0;
  font-weight: bold;
}

.foot-section .foot-section-span {
  font-weight: lighter;
}

.expand-foot {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.expand-foot .expand, .expand-foot .arrowUp {
  margin: 0 30px;
  font-weight: bold;
}

.expand {
  font-size: 13px;
}

.arrowUp {
  font-size: 30px;
  color: #343434;
}
